:root {
    --beigeClair: #faefd4;
    --orange: #d39316;
    --black: #000;
    --white: #FFF;
    --fullwidth: 100%;
}

html, body {
    padding:0;
    margin:0;
    background:red!important
}

body, h1, h2, h3 {
    font-family: "Syne", sans-serif;
}

#Main {
    padding-left: 2em !important;
    padding-right: 2em !important
}



/* Header */
#header, .avis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:100%;
    margin: auto
}

#header #branding {
    display: flex;
    align-items: center;
    padding-left:2em
}

#header .logo img {
    width:200px; 
    max-width:200px
}

#header ul#menu-menuheader {
    display: flex;
    list-style: none;    
    margin: 0;
}

#header ul#menu-menuheader a:hover {
    color:var(--red)!important
}

#header ul#menu-menuheader a, #header ul#menu-menuheader a:hover {
    text-decoration: none;
}

#header ul#menu-menuheader li {
    padding:1em 1.5em 1em 0.7em
}

#header ul#menu-menuheader li:first-child {
    padding-left:0;
    padding-right:0.7em;
}

#header ul#menu-menuheader li:last-child, .wp-element-button {
    background-color: var(--beigeFonce);
}

#header ul#menu-menuheader li:last-child a, #header ul#menu-menuheader li:last-child:hover, .containerGreen, input[type="submit"], .wpcf7-not-valid-tip {
    color:var(--white)!important;
}

#header ul#menu-menuheader li:last-child:hover, .wp-element-button:hover {
    background: var(--red)!important;
}
/* End Header */







/* Forms */
.formGroup {
    position:relative;
    margin:4em auto
}

form {
    text-align:left;
    margin:5em auto;
}

input, textarea {
    border: none;
    border-radius: 5px;
    margin: 0.5em 0em;
}

input[type="submit"] {
    background: var(--beigeFonce);
    padding-left:2em;
    padding-right:2em;
    margin: 0 auto!important;
    width:auto!important
}






/* Footer */
/*.footer {
    text-align:center;
    padding:1em 0
}

.footer a {
	color:var(--black);
    text-decoration: none;
}

.footer a:hover {
	color: var(--red)!important;
}

.footer ul {
    list-style: none;
}
*/







/* PHONES */
@media (min-width: 320px) and (max-width: 480px) {

}






/* LOW RES TABLETS */
@media (min-width: 481px) and (max-width: 767px) {

}


 

/* TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {

}